*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --main-bg-color: #ffe4c4;
    --secondary-bg-color: #363636;
    --main-color: #f02727e0;
    --accent-color: #eca1cd;
    --light-color: #FFF9F1;
    --white-color: #FFFFFF;
    --black-color: #000000;

}